/* Columna de categorías con scroll */
.categories-column {
    background-color: #f8f9fa;
    height: 100vh; /* Fija la altura de la columna */
    overflow-y: auto; /* Habilita el scroll vertical */
    padding: 15px;
    margin-top: 20px;
}

.categories-scroll {
    display: flex;
    flex-direction: column;
}

.category-item {
    position: relative;
    margin-bottom: 15px;
    cursor: pointer;
}

.category-image {
    width: 100%;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
    border-color: black;
}

.category-name-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* Estilos de los productos */
.product-image {
    width: 100px;
    height: 60px;
    /* object-fit: cover; */
    /* border-radius: 8px; */
    border-radius: 10px 0 0 10px;
}

.product-card {
    border-radius: 10px; /* Bordes redondeados */
    height: 290px; /* Altura fija para que todas las Cards sean del mismo tamaño */
}

.product-card .card-title {
    font-size: 1.2rem; /* Ajusta el tamaño del título */
    font-weight: bold;
}

.product-card .card-text {
    font-size: 1rem; /* Ajusta el tamaño del texto */
    margin-bottom: 5px;
}

.product-description {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Soporte para navegadores basados en WebKit (Chrome, Safari, etc.) */
    line-clamp: 2; /* Propiedad estándar para compatibilidad futura */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.resumen-column {
    background-color: #f8f9fa;
    height: 100vh; /* Fija la altura de la columna */
    overflow-y: auto; /* Habilita el scroll vertical */
    padding: 10px;
    margin-top: 22px;
}

.resumen-scroll {
    display: flex;
    flex-direction: column;
}
