# Node modules
node_modules

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
frontend/node_modules
backend/node_modules

# Build outputs
# dist
# build

# Environment variables
# .env

# IDE files
.vscode

# BackUp .env
#/backend/.env

# Ignore package-lock.json in frontend
/frontend/package-lock.json
# /frontend/package.json
/frontend/.env

# Mac files
.DS_Store
