/* .App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
} */

/* 
  Esta clase se añadirá al body en la página de Cotizar.
  Anula cualquier padding o margin superior que esté empujando el contenido hacia abajo.
  El !important asegura que este estilo tenga prioridad.
*/
body.full-screen-mode main {
    padding-top: 0 !important;
    margin-top: 0 !important;
    height: 100vh; /* Opcional: hace que el main ocupe toda la altura de la pantalla */
}

/* Si el espacio lo añade directamente el body, usa esto: */
body.full-screen-mode {
    padding-top: 0 !important;
}
